<header id="header" xmlns="http://www.w3.org/1999/html">
  <div class="inner">
    <nav id="nav">
      <a href="index.html">Home</a>
      <a href="generic.html">QoS Parameters</a>
    </nav>
    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  </div>
</header>

<!-- Banner -->
<section id="banner">
  <h1 style="color: black; font-family: Monospaced; font-size: 6em">QoS in ISP Services Application</h1>
  <p style="color: black; font-size: 1.5em">Educational Tool Used in the Investigation of QoS Parameters</p>
</section>

<!-- One -->
<section id="one" class="wrapper">
  <div class="inner">
      <br>
      <article>
        <header>
          <h3>User Interface</h3>
        </header>

        <div class="form-group">
          <label>Select QoS Parameter:</label>
          <select class="form-control" [(ngModel)]="selectedParam" (ngModelChange)="onSelect($event)">
            <option *ngFor="let qos of qosParameters" >
              {{qos}}
            </option>
          </select>
        </div>


        <br><br>

        <div class="form-group">
          <label>Input {{selectedParam}} Value ({{units}})</label>
          <input type="number" class="form-control" [(ngModel)]="inputValue">
        </div>

        <br><br>
        <div [ngClass]="{ 'form-group' : throughput, 'off' : !throughput}">
          <label>Input Latency Value (ms) for Calculating Throughput for VPN</label>
          <input type="number" class="form-control" [(ngModel)]="extra">
        </div>

        <br><br><br><br>

        <footer>
          <a href="#two"><button (click)="submitValue()" class="button special">Submit</button></a>
        </footer>

        <br>

      </article>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special" [ngClass]="{ 'on': submit, 'off': !submit  }" >
  <div class="inner">
    <header>
      <h2>Internet Service Provider Results</h2>
      <p>Your input is compared to these values and it's performance is indicated by the color.</p>
    </header>
    <div class="flex flex-4">
      <div class="box person">
        <app-dsl></app-dsl>
      </div>
      <div class="box person">
        <app-voip></app-voip>
      </div>
      <div class="box person">
        <app-iptv></app-iptv>
      </div>
      <div class="box person">
        <app-vpn></app-vpn>
      </div>
      <div class="box person">
        <app-cloud></app-cloud>
      </div>
    </div>
  </div>
</section>

<!--
<section id="three" class="wrapper special">
  <div class="inner">
    <header class="align-center">
      <h2>Nunc Dignissim</h2>
      <p>Aliquam erat volutpat nam dui </p>
    </header>
    <div class="flex flex-2">
      <article>
        <div class="image fit">
          <img src="images/pic01.jpg" alt="Pic 01" />
        </div>
        <header>
          <h3>Praesent placerat magna</h3>
        </header>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
        <footer>
          <a href="#" class="button special">More</a>
        </footer>
      </article>
      <article>
        <div class="image fit">
          <img src="images/pic02.jpg" alt="Pic 02" />
        </div>
        <header>
          <h3>Fusce pellentesque tempus</h3>
        </header>
        <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
        <footer>
          <a href="#" class="button special">More</a>
        </footer>
      </article>
    </div>
  </div>
</section>
-->


<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="flex">
      <div class="copyright">
        CS4457 Networks II Project: Daniel Deng, Mathew Wong, Winston Leung
      </div>
    </div>
  </div>
</footer>

